#{extends 'main.html' /}
#{set title:'Home' /}

<button id="button-kokler">Kökler</button>
<div id="grafik" style="width:600px; height: 400px;"></div>
<br/>
<a href="@{Application.save()}">Save</a>
#{ifErrors}
   <h1>Oops</h1>
 
   #{errors}
       <li>${error}</li>
   #{/errors}
#{/ifErrors}

<ul id="userList">
#{list users, as: 'user'}
	<li>
		<a href="#" class="userInfo" id="${user.id}">${user.username}</a>
		<a href="#" class="deleteUser">Sil</a>
	</li>
#{/list}
</ul>
<div id="userInfo">
<span style="display:block" id="username"></span>
<span style="display:block" id="fullName"></span>
<span style="display:block" id="created"></span>
</div>

<div>
<input type="text" id="newUsername" size="15" />
<input type="text" id="newFullName" size="15" />
<a href="#" id="createUser">create user</a>
</div>

<label for="user">&{'Username'}</label>
<input type="text" id="user" size="40" />
<sub>&{'Enter-your-username'}</sub>
<script>
$(function(){
    if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	        $.getJSON('https://api.foursquare.com/v2/venues/search?ll='+ position.coords.latitude +','+ position.coords.longitude +'&intent=browse&radius=2000&client_id=J4OLDCG4OAAK52WTYHF1L4G3ZMLBSDODI5XXITNWJKS11OO3&client_secret=4X2VFQUQSJGGG0JIWGWJZ5TCIGM0EYO43KSIM3NEOEBZEWBY', function(data) {
	            $.each(data.response.groups[0].items, function(index, item) {
	                if(item.hereNow.count > 0)
	                   $("#userList").append('<li>' + item.name + ' ('+ item.location.distance +'m, ' + item.hereNow.count + 'kişi)</li>');
	            });
	        });
	    }, function(err) {});
	}
    
	$('#button-kokler').click(function(){
	    $.ajax({
			type: 'GET',
            url: "@{Application.kokler()}",
            dataType: "json",
            data: {
            },
            success: function( data ) {
                var $values = new Array();
            	$.each(data, function(key, value){
                    $values.push([key, value ]);
                });
                console.log($values);
                $.plot($("#grafik"), [$values], { 
                xaxis: { mode: "categories" }, 
                series: {bars: {show: false, barWidth: 0.6}}
                });
            }
        });
	});

	$('.userInfo').live("click", function(){
		var id = $(this).attr('id');
		$.ajax({
			type: 'GET',
            url: "@{Application.getUser()}",
            dataType: "json",
            data: {
                id: id
            },
            success: function( data ) {
                $('#username').text(data.username);
                $('#fullName').text(data.fullName);
                $('#created').text(data.created);
            }
        });
		return false;
	});
	
	$('#createUser').click(function(){
		var username = $('#newUsername').val();
		var fullName = $('#newFullName').val();
		$.ajax({
			type: 'POST',
            url: "@{Application.createUser()}",
            dataType: "json",
            data: {
                username: username,
                fullName: fullName
            },
            success: function( data ) {
                //$('#username').text(data.username);
                //$('#fullName').text(data.fullName);
                //$('#created').text(data.created);
                $('#userList').append('<li><a href="#" class="userInfo" id="' + data.id + '">' + data.username + '</a><a href="#" class="deleteUser">Sil</a></li>');
            }
        });
		return false;
	});
	
	$('.deleteUser').live("click", function(){
		var $id = $(this).prev('a').attr('id');
		var $li = $(this).parent('li');
		$.ajax({
			type: 'DELETE',
            url: "@{Application.deleteUser()}",
            dataType: "json",
            data: {
            	id: $id
            },
            success: function( data ) {
				$li.remove();
            }
        });
		return false;
	});
	
	$( "#user" ).autocomplete({
	    source: function( request, response ) {
	        $.ajax({
	            url: "@{Application.users()}",
	            dataType: "json",
	            data: {
	                term: request.term
	            },
	            success: function( data ) {
	            	$.each( data , function(i, value1 ) {
	                    $.each( value1 , function(i, value2  ) {
	                    alert(value2);
	                        });
	                  });     
	                response( $.map( data, function( item ) {
	                    return {
	                        label: item.fullName,
	                        value: item.username
	                    }
	                }));
	            }
	        });
	    },
	    minLength: 5
	}).keypress(function(event){
		if ( event.which == 13 ) {
			$("#user").autocomplete( "option", "minLength", 0 ).autocomplete("search").autocomplete( "option", "minLength", 5 );
		}
	});
}	
);
</script>