#{extends 'main.html' /}
#{set title:'Home' /}

<ul>
#{list users, as: 'user'}
	<li>${user.username}: <b>${user.fullName}</b></li>
#{/list}
</ul>

<label for="user">&{'Username'}</label>
<input type="text" id="user" size="40" />
<sub>&{'Enter-your-username'}</sub>
<script>
$( "#user" ).autocomplete({
    source: function( request, response ) {
        $.ajax({
            url: "@{Application.users()}",
            dataType: "json",
            data: {
                term: request.term
            },
            success: function( data ) {
                response( $.map( data, function( item ) {
                    return {
                        label: item.fullName,
                        value: item.username
                    }
                }));
            }
        });
    },
    minLength: 2
});
</script>