<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{stylesheet 'smoothness/jquery-ui-1.8.12.custom.css' /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{script 'jquery-ui-1.8.12.custom.min.js' /}
        #{script 'jquery.dataTables.min.js' /}
        #{script 'jquery.flot.js' /}
        #{script 'jquery.flot.categories.js' /}
        #{get 'moreScripts' /}
    </head>
    <body>
        <p>
        	<a href="@{Application.index}">Index</a>
    		<a href="@{Application.stats}">Stats</a>
    		<a href="@{Application.cumleler}">Cümleler</a>
    		<a href="@{Application.cumleOlustur}">Cümle Oluştur</a>
    	</p>
        #{doLayout /}
    </body>
</html>
